<app-nav-bar></app-nav-bar>
<carousel>
  <slide>
    <img src="../../../assets/image/slide1.jpg" alt="first slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/image/slide4.jpg" alt="second slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/image/slide3.jpg" alt="third slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<br>
<div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
        <h1>Teste</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis mollitia, laudantium ipsum blanditiis dicta cumque eum, eius minus rem suscipit iusto, facilis est architecto vel? Aliquid a nisi consequatur!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem doloremque, fugiat exercitationem rem qui vero? Provident eligendi, quos eveniet similique aspernatur at voluptatum quis a ex, tempore cum repellendus esse!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quod quia? Eveniet deserunt aperiam mollitia, obcaecati minus amet illo autem, veritatis assumenda voluptates dolore laboriosam dignissimos officia ab facilis id.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium architecto dolores optio eos consequuntur nesciunt illum facilis, expedita dignissimos. Doloribus omnis, repellat itaque iure aut voluptatum tenetur commodi fuga veniam.</p>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
        <img class="imagehome" src="../../../assets/undraw_Celebration_re_kc9k.svg" alt="imagehome">
    </div>
</div>

<!-- <section> -->
    <h1 class="text-center" id="section1">Destaques</h1>
<!-- </section> -->
    <!-- <hr class="text-center">
<section>
    <h1 class="text-center">Como Funciona</h1>
    <div class="d-flex justify-content-center">
        <br>
        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum perferendis tempora sit atque obcaecati nulla assumenda rerum, cupiditate vitae inventore. Delectus quo similique velit voluptatum ipsam maxime, magni beatae mollitia.
        </p>
    </div>
</section>
<footer>
    <h1>teste</h1>
</footer> -->
